.modal {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 50px 40px 40px 40px 30px 30px  auto 50px;
    border-top: 2px solid red;
    background-color: #f3f3f3; 
    grid-template-areas: 
        "h h h h h h h h h h h h h h"
        ". . . . . . . . . . . . . ."
        ". fb fb fb fb fb . . . . . . . . "
        ". l l l l l . . r r r r r ."
        ". . . . . . . . p p p p p ."
        ". . . . . . . . c c c c c ."
        ". . . . . . . . b b b b b ."
        "f f f f f f f f f f f f f f";
}

.modal > div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            color: #ffeead;
          }

html, body {
            box-sizing: border-box;
            background-color: #ffeead;
            height: 100%;
            padding: 10px;
            margin: 0px;
          }

          .modal .header {
            background-color: white;
            color: black;
          }
          .modal .facebook {
            background-color: #3e5b96;
            color: white;
            padding-right: 20px; 
            font-size: 14px;
          }
          .modal img{
           margin-right: 40px;
          }
          .modal .google {
            background-color: #dd5342;
            color: white;
            padding-right: 20px;
            font-size: 14px;
          }
          .modal .login {
            color: black;
            font-size: 14px;
            }
            .modal .password {
              color: black;
              font-size: 14px;
              }
              .modal .check {
                font-size: 14px;
                color: black;
                }

                .button-fb {
                  background-color: #3e5b96;
                }
                .button-gl {
                  background-color: #dd5342;
                }
               
                .button {
                  background-color:black;
                  border: none;
                  color: white;
                  padding: 10px 20px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 14px;
                  margin: 4px 2px;
                  cursor: pointer;
                  
              }

              .btn u {
                font-size: 14px;
                color: black;
              }
              .modal .footer {
                color: black;
                background-color: white;
                font-size: 14px;
                }
         

.header {
    grid-area: h;
    grid-row-start: 3px solid red;
}

.google{
    grid-area: l;
}
.facebook {
  grid-area: fb;
 }
.login{
    grid-area: r;
}

.password{
  grid-area: p;
}
.check {
  grid-area: c;
}
.btn {
  grid-area: b;
}

.footer {
    grid-area: f;
}