.modal {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "h h h h h h h h h h h h h h"
        ". l l l l l . . r r r r r ."
        "f f f f f f f f f f f f f f";
}

.modal > div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            color: #ffeead;
          }

html, body {
            box-sizing: border-box;
            background-color: #ffeead;
            height: 100%;
            padding: 10px;
            margin: 0px;
          }

          .modal > div:nth-child(1n) {
            background-color: #96ceb4;	
          }
          
          .modal > div:nth-child(3n) {
            background-color: #88d8b0;
          }
          
          .modal > div:nth-child(2n) {
            background-color: #ff6f69;
          }
          
          .modal > div:nth-child(4n) {
            background-color: #ffcc5c;
          }


.header {
    grid-area: h;
}

.left-form {
    display: grid;
    height: 100%
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 40px 40px auto ;
    grid-template-areas: 
        ". . . . . . . . . . . ."
        "b b b b b b b b b b b b"
        "r r r r r r r r r r r r"
        ". . . . . . . . . . . .";
}
.login-buttons {
    grid-area: l;
}

.login-buttons > div:nth-child(1n){
    background-color: blue;
}
.login-buttons > div:nth-child(2n){
    background-color: red;
}
.btn-1 {
    grid-area: b;
    }

.btn-1 {
    grid-area: r;
}
.login-input {
    grid-area: r;

}
.password-input {

}
.login {

}
.footer {
    grid-area: f;
}